<!DOCTYPE html>
<html xmlns:th="http://www.thymyleaf.org">

<head>

    <meta charset="UTF-8"/>

    <title>BackEndNinja - Sign In</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css"/>

</head>

<body>

<div class="container">


    <form class="form-signin" action="#" th:action="@{/logincheck}"  method="POST">

        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <h2 class="form-signin-heading">Sign In !!</h2>

        <label for="username" class="sr-only">Usuario</label>
        <input class="form-control" type="text" placeholder="Username" name="username" id="username"/>

        <label for="password" class="sr-only">Password</label>
        <input class="form-control" type="password" placeholder="Password" name="password" id="password"/>

        <div th:if="${error != null}" class="alert alert-danger" role="alert">Invalid UserName or Password</div>
        <div th:if="${logout != null}" class="alert alert-info" role="alert">Logout Succesfully!</div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Sign in
        </button>
    </form>

</div>


</body>

</html>